/**
 * 表格样式
 */
.el-main.mag-table__main {
  flex: 1;
  padding: 0 !important;
}

.el-main > .mag-table__table {
  border: 0 !important;
}

.el-main > .mag-table__table.mag-table__table-bars-empty {
  border: 0 !important;
}

.el-pagination__sizes {
  display: flex !important;
}

.el-table--small {
  font-size: var(--mag-font-size-small) !important;
}

.el-table thead tr th {
  border-top: 1px solid var(--mag-component-border-color) !important;
  background-color: var(--mag-view-thead-background-color) !important;
  color: var(--el-text-color-regular) !important;
  font-weight: 500 !important;
  height: var(--mag-table-thead-height);
}

.el-table--border:before,
.el-table--border:after,
.el-table__inner-wrapper::before,
.el-table__inner-wrapper::after,
.el-table__border-left-patch {
  display: none !important;
}

.mag-table__table-page-bars {
  display: flex;
  align-items: center;
  height: var(--mag-view-footer-height);
  padding: 0 20px;
  background-color: var(--mag-view-footer-background-color) !important;
  box-sizing: border-box;
}

.mag-table__table-page-bars.is-left-alignment {
  justify-content: flex-start;
}

.mag-table__table-page-bars.is-right-alignment {
  justify-content: flex-end;
}

.mag-table__table-page-bars.is-center-alignment {
  justify-content: center;
}
