.mag-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}

.el-page-header__header {
  border: 1px solid var(--mag-component-border-color);
  box-sizing: border-box;
  padding: 2px 20px;
  line-height: 40px !important;
}

.el-page-header.is-contentful .el-page-header__main {
  display: flex;
  flex: 1;
  border-width: 0 1px 1px 1px;
  border-color: var(--mag-component-border-color);
  border-style: solid;
  box-sizing: border-box;
  margin-top: 0 !important;
  padding: 10px 20px;
}
