/**
 * mag view
 */
.mag-view__header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  .el-icon {
    align-items: center;
  }

  span {
    align-items: center;
    margin-left: 4px;
  }
}

.mag-view__header:hover {
  cursor: pointer;
}

.el-header.mag-view__header {
  height: var(--mag-view-header-height);
  line-height: var(--mag-view-header-height);
  background-color: var(--mag-view-header-background-color) !important;
  border-radius: var(--mag-view-card-layout-border-radius);
  border-bottom: 1px solid var(--mag-component-border-color);
}

.el-header > .mag-view__header-text {
  font-size: var(--mag-view-header-text-size) !important;
  font-weight: var(--mag-view-header-text-weight) !important;
  color: var(--mag-view-header-text-color) !important;
  height: var(--mag-view-header-height);
  line-height: var(--mag-view-header-height);
}

.el-header > .mag-view__header-icon {
}

.el-header.mag-view__header-empty {
  height: 0 !important;
}

.mag-view__view-bars {
  display: inline-flex !important;
  align-items: center;
  width: 100%;
  height: var(--mag-view-bars-height);
  padding: 4px var(--mag-view-base-padding) !important;
  box-sizing: border-box;
}

.mag-view__view-bars.is-left-alignment {
  justify-content: flex-start;
}

.mag-view__view-bars.is-right-alignment {
  justify-content: flex-end;
}

.mag-view__view-bars.is-center-alignment {
  justify-content: center;
}

.el-main.mag-view__main {
  display: flex;
  padding: 6px !important;
}
