:root {
  --mag-body-base-padding: 6px;
  --mag-component-border-color: var(--el-border-color-light);
  --mag-component-border-light-color: #EBEEF5;
  --mag-component-group-height: 32px !important;
  --mag-font-size-base: 14px;
  --mag-font-size-small: 14px;
  --mag-font-size-extra-small: 12px;
  --mag-font-size-large: 16px;
  --mag-view-header-text-size: 18px !important;
  --mag-view-header-text-weight: 400 !important;
  --mag-view-header-text-color: #606266 !important;
  --mag-view-header-background-color: #F5F7FA;
  --mag-view-base-border-radius: 4px;
  --mag-view-base-padding: 8px;
  --mag-view-header-height: 45px;
  --mag-view-bars-height: 40px;
  --mag-view-footer-height: 40px;
  --mag-view-thead-height: 41px;
  --mag-view-thead-background-color: #F5F7FA;
  --mag-view-footer-background-color: #F5F7FA;
}
