/**
 * 树样式
 */
.mag-tree__header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.mag-tree__header:hover {
  cursor: pointer;
}

.el-header.mag-tree__header {
  height: var(--mag-view-header-height);
  line-height: var(--mag-view-header-height);
  background-color: var(--mag-view-header-background-color) !important;
}

.el-header > .mag-tree__header-text {
  font-size: var(--mag-view-header-text-size) !important;
  font-weight: var(--mag-view-header-text-weight) !important;
  color: var(--mag-view-header-text-color) !important;
  height: var(--mag-view-header-height) !important;
  line-height: var(--mag-view-header-height) !important;
}

.el-header > .mag-tree__header-icon {
}

.el-header.mag-tree__header-empty {
  height: 0 !important;
}

.el-main.mag-tree__main {
  padding: 6px 6px 0 6px !important;
}

.mag-tree__node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--mag-font-size-base);
  padding-right: 8px;
}
