/**
 * Tabs 样式
 */
.mag-tab__header {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: var(--mag-view-card-layout-border-radius);

  .el-icon {
    align-items: center;
  }

  span {
    align-items: center;
    margin-left: 4px;
  }
}
